harvesting/clarin/xsds/Source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cmd="http://www.clarin.eu/cmd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcr="http://www.isocat.org/ns/dcr" xmlns:ann="http://www.clarin.eu" targetNamespace="http://www.clarin.eu/cmd/" elementFormDefault="qualified">
  <xs:annotation>
    <xs:appinfo>
      <ann:Header>
        <ann:ID>clarin.eu:cr1:p_1328259700950</ann:ID>
        <ann:Name>Source</ann:Name>
        <ann:Description>CMDI profile for describing 'Bron'</ann:Description>
      </ann:Header>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:simpleType name="simpletype-ByteOrder-clarin.eu.cr1.c_1271859438143">
    <xs:restriction base="xs:string">
      <xs:enumeration value="big endian" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2687_a2b83d99-1795-80ee-9968-cb34dbd0d959"/>
      <xs:enumeration value="little endian" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2688_592a09a1-3e6c-3880-c828-d218fee72af5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="simpletype-Compression-clarin.eu.cr1.c_1271859438143">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2964_6226b156-c9cf-07db-f5e8-00accb1aafd9"/>
      <xs:enumeration value="lossless" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2962_545d0b08-7224-067c-488a-d58ca4b6e5ef"/>
      <xs:enumeration value="lossy" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2963_56ea0ae5-d807-6a0c-088d-ae596c28e30f"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="simpletype-SpeechCoding-clarin.eu.cr1.c_1271859438143">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pcm" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5511_72024d49-98cd-c8c8-4230-3e9a9be7a03e" ann:label=""/>
      <xs:enumeration value="alaw" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5509_49d08a21-ac57-b4a0-b951-9e973f2048ff" ann:label=""/>
      <xs:enumeration value="mlaw" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5510_bbf82aa8-440f-f9aa-414d-cf0327bd06bb" ann:label=""/>
      <xs:enumeration value="signed integer" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5512_85d9121b-8109-2a32-4300-601190455645" ann:label=""/>
      <xs:enumeration value="unsigned integer" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5513_1137e774-26b5-2a51-9972-212bd7f21a1f" ann:label=""/>
      <xs:enumeration value="other" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2599_93805699-d3a2-ae19-5399-d0bba0e8fc24" ann:label=""/>
      <xs:enumeration value="unknown" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2591_f769d93b-c007-d2c9-aff2-99e9177e5764" ann:label=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="simpletype-MimeType-clarin.eu.cr1.c_1271859438106">
    <xs:restriction base="xs:string">
      <xs:enumeration value="application/json"/>
      <xs:enumeration value="application/msword"/>
      <xs:enumeration value="application/pdf"/>
      <xs:enumeration value="application/vnd.ms-excel"/>
      <xs:enumeration value="application/vnd.ms-powerpoint"/>
      <xs:enumeration value="application/vnd.oasis.opendocument.graphics"/>
      <xs:enumeration value="application/vnd.oasis.opendocument.presentation"/>
      <xs:enumeration value="application/vnd.oasis.opendocument.spreadsheet"/>
      <xs:enumeration value="application/vnd.oasis.opendocument.text"/>
      <xs:enumeration value="application/x-tar"/>
      <xs:enumeration value="application/x-tex"/>
      <xs:enumeration value="application/x-texinfo"/>
      <xs:enumeration value="application/x-zip-compressed"/>
      <xs:enumeration value="application/xhtml+xml"/>
      <xs:enumeration value="application/zip"/>
      <xs:enumeration value="audio/aiff"/>
      <xs:enumeration value="audio/basic"/>
      <xs:enumeration value="audio/midi"/>
      <xs:enumeration value="audio/mod"/>
      <xs:enumeration value="audio/mp4"/>
      <xs:enumeration value="audio/mpeg3"/>
      <xs:enumeration value="audio/mpeg"/>
      <xs:enumeration value="audio/ogg"/>
      <xs:enumeration value="audio/raw"/>
      <xs:enumeration value="audio/vnd.wave"/>
      <xs:enumeration value="audio/voc"/>
      <xs:enumeration value="audio/vorbis"/>
      <xs:enumeration value="audio/wav"/>
      <xs:enumeration value="audio/webm"/>
      <xs:enumeration value="audio/x-adpcm"/>
      <xs:enumeration value="audio/x-aiff"/>
      <xs:enumeration value="audio/x-au"/>
      <xs:enumeration value="audio/x-esps"/>
      <xs:enumeration value="audio/x-gsm"/>
      <xs:enumeration value="audio/x-mpeg-3"/>
      <xs:enumeration value="audio/x-mpeg"/>
      <xs:enumeration value="audio/x-nist"/>
      <xs:enumeration value="audio/x-realaudio"/>
      <xs:enumeration value="audio/x-ssff"/>
      <xs:enumeration value="audio/x-voc"/>
      <xs:enumeration value="audio/x-wav"/>
      <xs:enumeration value="image/bmp"/>
      <xs:enumeration value="image/gif"/>
      <xs:enumeration value="image/jpeg"/>
      <xs:enumeration value="image/pjpeg"/>
      <xs:enumeration value="image/png"/>
      <xs:enumeration value="image/svg+xml"/>
      <xs:enumeration value="image/tiff"/>
      <xs:enumeration value="image/vasa"/>
      <xs:enumeration value="image/x-quicktime"/>
      <xs:enumeration value="multipart/x-gzip"/>
      <xs:enumeration value="multipart/x-zip"/>
      <xs:enumeration value="text/css"/>
      <xs:enumeration value="text/csv"/>
      <xs:enumeration value="text/html"/>
      <xs:enumeration value="text/plain"/>
      <xs:enumeration value="text/plain-bas"/>
      <xs:enumeration value="text/praat-textgrid"/>
      <xs:enumeration value="text/richtext"/>
      <xs:enumeration value="text/sgml"/>
      <xs:enumeration value="text/xml"/>
      <xs:enumeration value="video/avi"/>
      <xs:enumeration value="video/mp4"/>
      <xs:enumeration value="video/mpeg"/>
      <xs:enumeration value="video/msvideo"/>
      <xs:enumeration value="video/ogg"/>
      <xs:enumeration value="video/quicktime"/>
      <xs:enumeration value="video/webm"/>
      <xs:enumeration value="video/x-motion-jpeg"/>
      <xs:enumeration value="video/x-ms-wmv"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Resourcetype_simple">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Metadata">
        <xs:annotation>
          <xs:documentation>The ResourceProxy refers to another component metadata
                            instance (e.g. for grouping metadata descriptions into
                            collections)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Resource">
        <xs:annotation>
          <xs:documentation>The ResourceProxy refers to a file that is not a metadata
                            instance (e.g. a text document)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SearchService">
        <xs:annotation>
          <xs:documentation>The ResourceProxy refers to a (SRU/CQL) web service that can be used to query the resource described in this file</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SearchPage">
        <xs:annotation>
          <xs:documentation>The ResourceProxy refers to a web page that can be used to query the resource described in this file</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LandingPage">
        <xs:annotation>
          <xs:documentation>The ResourceProxy refers to a web page that contains the "original context" of the resource described in this file (e.g. repository web page displaying the metadata).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="complextype-ByteOrder-clarin.eu.cr1.c_1271859438143">
    <xs:simpleContent>
      <xs:extension base="cmd:simpletype-ByteOrder-clarin.eu.cr1.c_1271859438143"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="complextype-Compression-clarin.eu.cr1.c_1271859438143">
    <xs:simpleContent>
      <xs:extension base="cmd:simpletype-Compression-clarin.eu.cr1.c_1271859438143"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="complextype-SpeechCoding-clarin.eu.cr1.c_1271859438143">
    <xs:simpleContent>
      <xs:extension base="cmd:simpletype-SpeechCoding-clarin.eu.cr1.c_1271859438143"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="complextype-MimeType-clarin.eu.cr1.c_1271859438106">
    <xs:simpleContent>
      <xs:extension base="cmd:simpletype-MimeType-clarin.eu.cr1.c_1271859438106"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="CMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MdCreator" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MdCreationDate" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:date">
                      <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MdSelfLink" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MdProfile" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MdCollectionDisplayName" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Resources">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ResourceProxyList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceProxy">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="1" name="ResourceType">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="cmd:Resourcetype_simple">
                                  <xs:attribute name="mimetype" type="xs:string"/>
                                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="1" name="ResourceRef">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:anyURI">
                                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="JournalFileProxyList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="JournalFileProxy">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="1" name="JournalFileRef">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:anyURI">
                                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ResourceRelationList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRelation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="1" name="RelationType">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="1" name="Res1">
                            <xs:complexType>
                              <xs:attribute name="ref" type="xs:IDREF"/>
                              <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="1" name="Res2">
                            <xs:complexType>
                              <xs:attribute name="ref" type="xs:IDREF"/>
                              <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="IsPartOfList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="IsPartOf">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:anyURI">
                            <xs:anyAttribute namespace="##other" processContents="lax"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Components">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Source" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Description" dcr:datcat="http://hdl.handle.net/11459/CCR_C-4101_2e1b40d2-a663-849c-b49b-e4d5db94eb6f" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Colofon" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5258_c9a21fcc-1d38-8f23-ef0d-6e342209ea89" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Year" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5253_3ab4ec91-be6b-5cba-6882-7346d7053ed8" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Century" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5254_278735a8-d13a-1743-afea-04a3b95003bc" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sourcecode" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5259_f187e831-3701-f27a-e29b-a84e161f7a80" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NumberOfSongs" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5260_ce58290b-773b-9401-5e16-bddd47fb9feb" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Music" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5123_c59fad9e-85ea-f3f1-06d6-f20bf9608b34" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NumberOfSongsMusic" type="xs:float" minOccurs="0" maxOccurs="1" ann:displaypriority="1"/>
                    <xs:element name="Polyphony" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5124_d8ee7cec-fc12-5589-e4a0-b22a74cda196" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NumberOfSheets" dcr:datcat="http://hdl.handle.net/11459/CCR_C-4126_cdb1ec9c-e388-ca44-203d-9a2d0948ad71" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Printer" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5263_b63ccb5c-e816-38dc-110a-cb8cd882c816" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Publisher" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5262_0f597fc8-f18f-0bf2-5e0a-4be05ca97c37" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Classification" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Title" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Original" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Normalised" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Authors" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Author" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Role" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string"/>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Initials" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string"/>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Name" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Original" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string"/>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Normalised" minOccurs="0" maxOccurs="1" ann:displaypriority="1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string"/>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TechnicalMetadata" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MimeType" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2571_2be2e583-e5af-34c2-3673-93359ec1f7df" minOccurs="1" maxOccurs="1" ann:displaypriority="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Quality" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2574_85e2b550-e877-599a-fb82-76812896f9da" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Size" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TotalSize" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Number" type="xs:decimal" minOccurs="1" maxOccurs="1" ann:displaypriority="1"/>
                                      <xs:element name="SizeUnit" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string"/>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Dimension" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Width" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Number" type="xs:decimal" minOccurs="1" maxOccurs="1" ann:displaypriority="1"/>
                                            <xs:element name="SizeUnit" minOccurs="1" maxOccurs="1" ann:displaypriority="1">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="ref" type="xs:IDREFS"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Height" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Number" type="xs:decimal" minOccurs="1" maxOccurs="1" ann:displaypriority="1"/>
                                            <xs:element name="SizeUnit" minOccurs="1" maxOccurs="1" ann:displaypriority="1">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string"/>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="ref" type="xs:IDREFS"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SpeechTechnicalMetadata" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SamplingFrequency" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2577_73344cc2-f341-8842-bcf7-48e5267a3aca" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="NumberOfChannels" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2961_9c4165d7-a124-bd97-ba64-73763421aa9d" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="ByteOrder" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2686_8482ada6-574c-67e3-d65a-64a23b06b533" minOccurs="0" maxOccurs="unbounded" type="cmd:complextype-ByteOrder-clarin.eu.cr1.c_1271859438143"/>
                                <xs:element name="Compression" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2685_65492121-3759-0fc2-694b-83eccbb9d26c" minOccurs="0" maxOccurs="unbounded" type="cmd:complextype-Compression-clarin.eu.cr1.c_1271859438143"/>
                                <xs:element name="BitResolution" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2684_ac8bdf07-61be-d478-53f7-8949139e11fc" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="SpeechCoding" dcr:datcat="http://hdl.handle.net/11459/CCR_C-5514_145df064-6ac4-f0d3-7de8-1002dfb9b45e" minOccurs="0" maxOccurs="unbounded" type="cmd:complextype-SpeechCoding-clarin.eu.cr1.c_1271859438143"/>
                                <xs:element name="MimeType" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MimeType" dcr:datcat="http://hdl.handle.net/11459/CCR_C-2571_2be2e583-e5af-34c2-3673-93359ec1f7df" minOccurs="1" maxOccurs="unbounded" type="cmd:complextype-MimeType-clarin.eu.cr1.c_1271859438106"/>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                    <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1271859438106"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                              <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1271859438143"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1307535113337"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREFS"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="CMDVersion" fixed="1.1" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
